@use './typography' as * ;
@use './variables' as *;
@use './mixins' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//text styles
h1 {
    font-family: avenirNext;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}
h2 {
    font-family: avenirNext;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: .75rem;
        line-height: 1.25rem;
    }
}
h3 {
    font-family: avenirNext;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}
body {
    font-family: avenirNext;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}
button {
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 700;
    @include tablet {
        font-size: .75rem;
        line-height: 1.25rem;
    }
}
//header
header {
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 2rem;
    }
    @include desktop {
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
    &__logo {
        justify-content: center;
        align-items: center;
        padding: 1rem;
        @include tablet {
            display: flex;
        }
        &--img{
            @include box(7.5rem,1.5625rem);
        }
    }
}
.header__navbar {
    padding-bottom: 1rem;
    @include tablet {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header__search {
display: flex;
width: 100%;
margin: auto;
column-gap: 0.5rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
@include tablet {
    width: 15rem;
    padding-right: 1rem;
}
&--container {
    position: relative;
    display: inline-block;
    width: 100%;
}
&--input {
    padding: 0.625rem 2.5rem 0.625rem 0.625rem;
    @include box(100%,2rem);
    border-radius: .25rem;
    box-sizing: border-box;
    background-color: $alabaster;
    border-color: $mercury;
    &::placeholder {
        padding-left: 1.25rem;
    }
    
}
&--icon {
    position: absolute;
    left: 0.625rem; 
    top: 50%;
    transform: translateY(-50%);
    width: .9375rem;
    height: .9375rem;
    cursor: pointer;
}
&--profile {
    display: flex;
    clip-path: circle();
    @include box(2.25rem, 2.25rem);
       @include tablet {
        display: none;
       }
    }
}
.header__button {
    background-color: $brainflix-blue;
    width: 95vw;
    border-radius: .25rem;
    border-color: $brainflix-blue;
    display: flex;
    color: $white;
    column-gap: 5.5rem;
    padding: 0.25rem;
    @include tablet {
        width: 12rem;
        column-gap: 2rem;
    }
    &--upload-icon {
        padding: 0.25rem;
    }
    &--text {
        padding: 0.25rem;
        font-size: 1rem;
    }
}
.header__img-container {
    @include tablet {
        padding-left: 1rem;
        padding-top: 0.25rem;
    }
}
.header__img--profile {
    display: none;
    @include tablet {
        display: flex;
        clip-path: circle();
        @include box(2.25rem, 2.25rem);
        object-fit: cover;
          
    }
}

