@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

//videoplayer
.section__video {
    background-color: $brainflix-darkblack;
    &--container {
        width: 100vw;
    }
    &--player {
        @include box(100%,25rem);
    }
}

//video description
.description {
    padding: 1rem;
    &__title {
        color: $brainflix-black;  
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    &__text {
        padding-top: 1rem;
        color: $brainflix-black;
    }
    &__comment-count {
        color: $brainflix-black;
        font-weight: 600;
        font-size: 1rem;
        padding-top: 1rem;
        @include tablet {
            font-size: 1.5rem;
        }
    }
}

.description__card {
   display: flex;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-bottom: .125rem solid $mercury;
   border-top: .125rem solid $mercury;
   justify-content: space-between;
   @include tablet {
    display: flex;
    flex-direction: row;
    border-top: none;

   }
}
.description__left {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    &--author {
        color: $brainflix-black
    }
    &--date {
        color: $silver;
    }
     @include tablet {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
   }
}
.description__right {
    display: flex;
    flex-direction: column;
    color: $silver;
    @include tablet {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
       }
    &-view-img {
        padding-right: 0.25rem;
    }
    &-like-img {
        padding-right: 0.25rem;
    }
}

