@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

//videoplayer
.section__video {
    background-color: $brainflix-darkblack;
    &--container {
        width: 100vw;
    }
    &--player {
        @include box(100%,25rem);
    }
}

//video description
.description {
    padding: 1rem;
    &__title {
        color: $brainflix-black;  
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.description__card {
   display: flex;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-bottom: .125rem solid $mercury;
   border-top: .125rem solid $mercury;
   justify-content: space-between;
}
.description__left {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    row-gap: 0.5rem;
    &--author {
        color: $brainflix-black
    }
    &--date {
        color: $silver;
    }
}
.description__right {
    display: flex;
    flex-direction: column;
    color: $silver;
    font-size: 1.25rem;
    &-view-img {
        @include box (1.5rem);
        padding-right: 0.25rem;
    }
    &-like-img {
        @include box (1.5 rem);
        padding-right: 0.25rem;
    }
}
.description__text {
    padding-top: 1rem;
}
